@model WebApplication.Models.cli_departamento

@{
    ViewBag.Title = "Delete";
}

<div class="register-box">
    <div class="register-box-body">
        <h3 style="text-align:center">ELIMINAR DEPARTAMENTO</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Descripcion</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cli_Descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>

<style>
    .required::after {
        content: "*";
        font-weight: normal;
        color: red;
        font-size: large;
    }
</style>