
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <img src="@Url.Action("CharterColumn", "DashBoard") " alt="Chart"/>
</div>

@section Scripts{
    <script>
   
</script>
    
    }