
@{
    Layout = null;
}

    <link href="~/SourceLanding/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="~/SourceLanding/css/landing-page.css" rel="stylesheet">
  
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>COMPUSERVI</h1>
                        <h3>CONTROL DE VISITAS 1.0</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>

                                @Html.ActionLink("EMPEZAR", "Login", "MyAccount", null, new { @class = "btn btn-danger btn-lg" })
                              
                            </li>
                  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Contact to Developers</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>

                            <button type="button" class="btn btn-danger btn-lg" onclick="Link1()">
                                <span class="glyphicon glyphicon-search"></span> ISRAEL
                            </button>

                        </li>
                        <li>

                            <button type="button" class="btn btn-danger btn-lg" onclick="Link2()">
                                <span class="glyphicon glyphicon-search"></span> ANDRES
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>



    <script src="~/SourceLanding/js/jquery.js">

    </script>
    <script src="~/SourceLanding/js/bootstrap.min.js">

    </script>


    <script>
        function Link1() {
            window.open("https://www.facebook.com/1cinisra1");
        }
        function Link2() {
            window.open("https://www.facebook.com/andres.navascruz");
        }

    </script>


<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>

