@model WebApplication.Models.cli_tipoequipo

@{
    ViewBag.Title = "Delete";
}

<div class="register-box">
    <div class="register-box-body">
        <p class="login-box-msg">Desea Eliminar Esta Decripcion?</p>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Decripcion</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cli_Descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Volver", "Index")
            </div>
        }
    </div>
</div>

